<h1 class="search__title">
  <%= link_to "Bundessuche", :root %>
</h1>
<form class="<%= @query ? "" : "search__form--centered" %>">
  <input type="text" name="q" value="<%= @query %>" placeholder="<%= t("search_placeholder", total: @total) %>" class="search__text-input" />
  <input type="submit" value="<%= t("search_button") %>" class="search__button" />
</form>
<% if @query %>
  <% cache [controller.action_name, query_cache_key(@query), @records.current_page] do %>
    <% if @pagination_cache[:total_count] > 0 %>
      <h3><%= @pagination_cache[:total_count] =%> Akten gefunden.</h3>
      <div class="pagination">
        <%= paginate @records, total_pages: @pagination_cache[:total_pages] %>
      </div>
      <% @records.each do |record| %>
        <hr />
        <div class="result__header">
          <p><%= link_to_if(record.link.present?, record.call_number, record.link) %>: <%= highlight(@query, record.title) %></p>
          <p><%= record.source_date %></p>
        </div>
        <p>
          <%= highlight(@query, record.summary) %>
        </p>
      <% end %>
      <div class="pagination">
        <%= paginate @records, total_pages: @pagination_cache[:total_pages] %>
      </div>
    <% else %>
      <h3>Keine Akten gefunden.</h3>
    <% end %>
  <% end %>
<% end %>
