<div class="result">
  <div class="parents">
    <%= parents %>
  </div>
  <div class="result__header">
    <h4 class="result__title">
      <%= link_to_if(@record.link.present?, @record.call_number, @record.link, target: "_blank") %>: <%= title %>
    </h4>
    <p>
      <%= date %>
    </p>
  </div>
  <div class="cite">
    <span class="cite__label">Zitieren:</span>
    <a class="cite__button cite__copy-ris" data-ris-path="<%= record_path(@record, format: :ris) %>">copy RIS</a>
    <%= link_to 'download RIS', record_path(@record, format: :ris), class: "cite__button" %>
  </div>
  <p class="result__summary">
    <%= summary %>
  </p>
</div>
