<div class="result">
  <div class="parents">
    <%= parents %>
  </div>
  <div class="result__header">
    <h4 class="result__title">
      <%= link_to_if(@archive_file.link.present?, @archive_file.call_number, @archive_file.link, target: "_blank") %>: <%= title %>
    </h4>
    <p>
      <%= date %>
    </p>
  </div>
  <div class="cite">
    <span class="cite__label">Zitieren:</span>
    <a class="cite__button cite__copy" data-path="<%= archive_file_path(@archive_file, format: :ris) %>">als RIS kopieren</a>
    <%= link_to 'als RIS herunterladen', archive_file_path(@archive_file, format: :ris), class: "cite__button" %>
    <a class="cite__button cite__copy" data-path="<%= archive_file_path(@archive_file, format: :bib) %>">als BibTeX kopieren</a>
    <%= link_to 'als BibTeX herunterladen', archive_file_path(@archive_file, format: :bib), class: "cite__button" %>
  </div>
  <p class="result__summary">
    <%= summary %>
  </p>
</div>
