<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Bundessuche</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= preload_link_tag asset_path('Atkinson_Hyperlegible/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2') %>
    <%= preload_link_tag asset_path('Atkinson_Hyperlegible/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2') %>
    <%= preload_link_tag asset_path('Atkinson_Hyperlegible/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2') %>
    <%= preload_link_tag asset_path('Atkinson_Hyperlegible/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2') %>
    <%= preload_link_tag asset_path('EB_Garamond/WOFF2/EBGaramond12-Regular.woff2') %>
  </head>
  <body>
    <div class="container__outer">
      <main class="container__inner">
        <h1 class="search__title">
          <%= link_to "Bundessuche", :root %>
        </h1>
        <%= yield %>
      </main>
    </div>
    <footer>
      <%= link_to "Impressum", :imprint  %>
    </footer>
  </body>
</html>
